<div class="container center">
<h1>Posts</h1>
</div>

<div class="container center">

<% @posts.each do |post| %>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= post.title %>
      </p>
      <a class="card-header-icon">
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <%= post.content %>
        <br>
        <small><%= post.created_at %></small>
        <br>
        <small><%= post.user.email %></small>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to 'Show', post, :class=> "card-footer-item"%>
      <%= link_to 'Edit', edit_post_path(post), :class=> "card-footer-item"%>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "card-footer-item"%>
    </footer>
  </div>

<% end %>

</div>



<!-- <div class="container">
  <% @posts.each do |post| %>
      <%= post.user.email %>
      <br>
      <%= post.title %>
      <br>
      <%= post.content %>
      <br>
  <% end %>

  <%= link_to 'New Post', new_post_path %>
</div> -->
